@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.App {
  font-family: 'Quicksand', sans-serif;
  background-color: #3a4f7a;
  color: #ffc6d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 32px;
  font-weight: 600;
}

.button-area {
  display: flex;
  gap: 16px;
}

.button-area button {
  font-family: 'Quicksand', sans-serif;
  background-color: #ffc6d3;
  font-size: large;
  color: #3a4f7a;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  width: 150px;
  height: 50px;
}

.button-area button:hover {
  cursor: pointer;
  background-color: #3a4f7a;
  color: #ffc6d3;
  border: 1px solid #ffc6d3;
}
